@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: hsl(0, 0%, 0%);
        --background: hsl(0, 0%, 100%);
        --primary: #2c328f;
        --secondary: #f6c205;
        --border: #b9b9b9;
    }
}

@layer base {
    * {
        @apply border-border
    }

    body {
        @apply bg-background text-text;
    }
}

::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(32, 36, 39);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(21, 77, 77);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(23, 98, 119);
}